{% macro manage_repo_workdir(repos) -%}
{% for repo in repos %}
{% if repo['workDir'] != 'root' %}
if [ ! -d "{{ repo['path'] }}/{{ repo['workDir'] }}" ]; then echo "There is no {{ repo['workDir'] }} directory in repository"; exit 1; fi
cp -r {{ repo['path'] }}/{{ repo['workDir'] }}/* /vol/project
{% else %}
cp -r {{ repo['path'] }}/* /vol/project
{% endif %}
{% endfor %}
{% endmacro -%}